<!DOCTYPE html>
<html>
<head>
    <title>История</title>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/tarif.css" />
</head>
<body>
<div class="container">
    <h2>История показаний</h2>
    <table class="tarif-table">
        <% results.forEach(function(r) { var date = new Date(r.date_add); var addZero = function(num) { return num < 10 ? '0' + num : num; }; %>
            <% var dateAdd = date.getFullYear() + '-' + addZero(date.getMonth() + 1) + '-' + addZero(date.getDate()) %>
            <tr>
                <td><%= r.name %></td>
                <td><%= r.value %></td>
                <td><%= dateAdd %></td>
                <td data-tarif="<%= r.name %>" data-date="<%= dateAdd %>"><span class="delete">Удалить</span></td>
            </tr>
        <% }); %>            
    </table>
</div>
<script src="http://yastatic.net/jquery/1.8.3/jquery.min.js"></script>
<script src="/js/history.js"></script>
</body>
</html>
